---
import Section from '../../../components/ui/Section.astro'
import Row from '../../../components/ui/Row.astro'
import Col from '../../../components/ui/Col.astro'
import BlogCard from '../../../components/ui/cards/BlogCard.astro'

type Props = {
	data: any
}
const { data: sortedBlogPosts } = Astro.props
---

<Section>
	<Row>
		{
			sortedBlogPosts.map((post: any, index: number) => {
				return (
					<Col span={index === 0 || index === 1 ? '6' : '4'}>
						<BlogCard
							title={post.data.title}
							image={index < 2 && post.data.thumbnail ? post.data.thumbnail : ''}
							link={`/updates/${post.id}`}
							date={new Date(post.data.pubDate).toLocaleDateString('en-US', {
								year: 'numeric',
								month: 'long',
								day: 'numeric'
							})}
							author={post.data.author}
							description={post.data.description}
							classes="h-full"
						/>
					</Col>
				)
			})
		}
	</Row>
</Section>
