---
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
import ActionCard from '../../ui/cards/ActionCard.astro'
import DecorationBorder from '../../ui/DecorationBorder.astro'

type Props = {
	title?: string
}
const { title = '' } = Astro.props
---

<Section>
	<Row decorationBorder="top left " gapY="0" style="transparent">
		<Col
			span="12"
			classes="px-8 py-12 relative bg-[url('/bgs/dot-gray-light.svg')] bg-size-[18px] bg-fixed dark:bg-[url('/bgs/dot-gray-dark.svg')] dark:bg-size-[18px] dark:bg-fixed "
		>
			<h2 class="h5 mb-0! text-center leading-0">{title}</h2>
			<DecorationBorder type="bottom" style="dashed" />
		</Col>
	</Row>
</Section>
<Section>
	<Row decorationBorder="top left right bottom" gapY="0" style="transparent">
		<Col span="4" style="transparent">
			<ActionCard title="Event Location" link="https://www.pccoepune.com/" linkText="Open Campus Location">
				<p>
					Pimpri Chinchwad College of Engineering (PCCoE), Sector 26, Pradhikaran, Nigdi,
					Pune - 411044, Maharashtra, India.
				</p>
			</ActionCard>
		</Col>
		<Col span="4" style="transparent">
			<ActionCard title="Contact" link="mailto:ieee.summerschool@pccoepune.com" linkText="Email Organising Team">
				<p>
					Email: ieee.summerschool@pccoepune.com<br />
					Phone: +91 [IEEE Branch Contact Number]<br />
					Event Dates: [Start Date] - [End Date], [Year]<br />
					Registration Deadline: [Deadline Date]
				</p>
			</ActionCard>
		</Col>
		<Col span="4" style="transparent">
			<ActionCard title="Follow Us" link="https://instagram.com/pccoe_ieee" linkText="Instagram @pccoe_ieee">
				<p>
					LinkedIn: PCCoE IEEE Student Branch<br />
					GitHub: github.com/pccoe-ieee<br />
					For registration, domain, and fee concession queries, write to us anytime.
				</p>
			</ActionCard>
		</Col>
	</Row>
</Section>
